[submodule "k8s/deploy/vendor/kube-prometheus"]
	path = k8s/deploy/vendor/kube-prometheus
	url = https://github.com/prometheus-operator/kube-prometheus
[submodule "k8s/deploy/maintenance/components/kube-prometheus/kube-prometheus"]
	path = k8s/deploy/maintenance/components/kube-prometheus/kube-prometheus
	url = https://github.com/prometheus-operator/kube-prometheus
